@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index";

body {
    position: relative;
}

code {
    @include border-radius(4px);
    padding: 2px 4px;
    background: #ffdcdc;
}

select {
    display: block;
}

.badge {
    padding: 0.45em 0.6em;
}

.badge-pill {
    line-height: 1.4;
    padding: 0.2em 0.8em;
}

.form-label {
    font-weight: bold;
    color: $gray-800;
}

.v-modal-container {
    position: relative;
    overflow: hidden;

    .v-modal-header {
        padding: 0.8rem;
        color: $white;
        background: $gray-800;
    }

    .v-modal-body {
        padding: 1.25rem;
    }

    .v-modal-footer {
        padding: 1.0rem 1.5rem;
        background-color: $gray-200;
    }
}

.v--modal-overlay .v--modal-box {
    border-radius: $border-radius;
}