$font-family-monospace: Monaco, Courier New, monospace;
$font-family-sans-serif: Karla, sans-serif;
$font-size-base: 1.0rem;

$enable-rounded: true;

$white: #ffffff;
$gray-100: #f5fafa;
$gray-200: #e6ebf0;
$gray-300: #dce1e6;
$gray-400: #cdcddc;
$gray-500: #afb4be;
$gray-600: #647878;
$gray-700: #41464b;
$gray-800: #373741;
$gray-900: #28282d;
$black: #000000;

$blue: #0078fa;
$indigo: #643cf0;
$purple: #785abe;
$pink: #e63c8c;
$red: #f03c3c;
$orange: #fa7814;
$yellow: #f0dc3c;
$green: #3cc882;
$teal: #1496a0;
$cyan: #00a0dc;

$primary: $blue;
$secondary: $cyan;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: $gray-900;

$body-bg: $white;
$body-color: $gray-900;

$card-bg: $gray-200;

$code-font-size: $font-size-base;

$dropdown-box-shadow: 0 0.5rem 0.8rem rgba($black, 0.4);
$dropdown-link-color: $gray-700;
$dropdown-link-hover-bg: $gray-300;
$dropdown-link-hover-color: $gray-700;

$input-bg: $white;
$input-color: $gray-700;
$input-focus-bg: $gray-200;
$input-focus-border-color: $primary;
$input-focus-box-shadow: 0 0 0 0.2rem rgba($primary, 0.4);
$input-focus-color: $gray-700;

$list-group-active-bg: $gray-900;
$list-group-active-color: $white;
$list-group-bg: $gray-300;
$list-group-border-color: transparent;
$list-group-disabled-color: lighten($list-group-bg, 30%);
$list-group-hover-bg: darken($list-group-bg, 10%);

$link-hover-color: $primary;

$nav-tabs-border-color: $gray-300;
$nav-tabs-link-hover-border-color: $primary;

$navbar-dark-active-color: rgba($white, 0.8);
$navbar-dark-color: rgba($white, 0.4);
$navbar-dark-disabled-color: rgba($white, 0.2);
$navbar-dark-hover-color: rgba($white, 0.6);
$navbar-light-active-color: rgba($black, 0.8);
$navbar-light-color: rgba($black, 0.4);
$navbar-light-disabled-color: rgba($black, 0.2);
$navbar-light-hover-color: rgba($black, 0.6);
$navbar-padding-x: 1.0rem;
$navbar-padding-y: 0.5rem;

$progress-bar-bg: $primary;
$progress-bg: $gray-300;

$table-border-color: rgba($black, 0.05);